
# Base16 Stylix Theme Colors

base00 = "{{ base00 }}"  # Default Background
base01 = "{{ base01 }}"
base02 = "{{ base02 }}"
base03 = "{{ base03 }}"
base04 = "{{ base04 }}"
base05 = "{{ base05 }}"  # Default Foreground
base06 = "{{ base06 }}"
base07 = "{{ base07 }}"
base08 = "{{ base08 }}"
base09 = "{{ base09 }}"
base0A = "{{ base0A }}"
base0B = "{{ base0B }}"
base0C = "{{ base0C }}"
base0D = "{{ base0D }}"
base0E = "{{ base0E }}"
base0F = "{{ base0F }}"

def hex_to_rgb(hex_color):
    hex_color = hex_color.lstrip('#')
    return tuple(int(hex_color[i:i+2], 16) for i in (0, 2, 4))

colors = {
    'background': base00,
    'foreground': base05,
    'black': base00,
    'red': base08,
    'green': base0B,
    'yellow': base0A,
    'blue': base0D,
    'magenta': base0E,
    'cyan': base0C,
    'white': base05,
    'bright_black': base03,
    'bright_red': base08,
    'bright_green': base0B,
    'bright_yellow': base0A,
    'bright_blue': base0D,
    'bright_magenta': base0E,
    'bright_cyan': base0C,
    'bright_white': base07,
}
